@charset "UTF-8";

.NavText {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: black;
}

.introtext{
	text-align: center;
	font-size: 14px;
}

.icontext{
	font-size: 50px;
}

.bodycontent{
	margin-top: 80px; 
}

.header{
	background-color: white;
	width: 1050px;
	margin: auto;
	margin-top: 30px; 
	margin-bottom: 50px; 
}

.photo{
	margin-bottom: 20px; 
}

.intro {
  text-align: center;
  margin: 20px;
}

img.head{
	width:200px;
	height:200px;
}

.time{
	color: white;
	font-size: 12px;
}

.loc{
	font-size: 12px;
}

.vl {
  border-left: 2px solid white;
}

hr.line1 {
  border: 2px solid white;
}


h4 {
	text-align: center;
}

h5 {
	font-weight: bold;
}

.experience{
	margin-top: 50px;
	margin-bottom: 20px;
	margin-left: 5px;
	margin-right:5px;
	color: white; 
}

.experience_detail{
	color: white;
	font-size: 13px; 
}

.backgreen{
	position: relative;
	background-color: #9EA6A1;
	width: 1050px;
	margin: auto;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 3px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 10px;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 100%;
  padding-left: 45px;
  padding-right: 25px;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.exptitle{
	font-size: 15px;
	padding-left: 25px;
	font-weight: bold;
	padding-bottom: 10px;
	color: #9EA6A1;
}


/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.skills{
	font-size: 12px;
}

.list-group-item{
	background-color: #FAF9F5;
}
.skillsgroup{
	margin-top: 10px; 
}

.school{
	margin-top: 10px; 
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -4px;
}

/* The actual content */
.content {
  padding: 10px 5px;
  background-color: #FAF9F5;
  position: relative;
  border-radius: 6px;
  color: black;
  font-size: 13px; 
}

.education{
	background-color: #FAF9F5;
}

.publications {
  margin-top: 10px;
  margin-bottom: 10px; 
  padding: 10px 5px;
  background-color: #FAF9F5;
  border-radius: 6px;
  width: 100%;
  margin-left: 37px;
  margin-right: 37px; 
  border-color: yellow;
  font-size: 13px;
}

.tohide{

}

.tosmall{
}

.tolarge{
	display: none;
}


/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 799px) {
.header{
	background-color: white;
	width: 100%;
	margin: auto;
	margin-top: 30px; 
	margin-bottom: 50px; 
}

.tolarge{
	display: block;
}

.tohide{
	display: none;
}

.backgreen{
	position: relative;
	background-color: #9EA6A1;
	width: 100%;
	margin: auto;
}
}

@media screen and (max-width: 450px) {

	.content {
		padding: 10px 20px;
	}

	/* Container around content */
	.container {
  		padding: 10px 40px;
  		position: relative;
  		padding-left: 45px;
  		padding-right: 0px;
	}

	.exptitle{
		font-size: 14px;
		padding-left: 5px;
		font-weight: bold;
		padding-bottom: 10px;
		color: #9EA6A1;
	}

	.tosmall{
		display: none;
	}

}